body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

body{
	background-image: url("9.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:#aaa671 ;
}

ul{
	list-style-type: none;
    margin-top:30px;

}

ul li{
	display: inline-block;
	margin-top: 15px;
	margin-left: 15px;
}

ul li a{
	text-decoration: none;
	color: #fffbfb;
	padding: 0px 15px;
	border:  1px solid transparent;
	transition: 0.6s ease;
	font-size: 18px;
	margin-right: 20px;
	margin-left: 40px;
	font-weight: bolder;
}

ul li a:hover{
	background-color: #FFA500;
	color: #000;
	min-height: 75%;
	border-radius: 10%;
}

header #logo {
	background-image: url("../logo1.png");
	background-size: 85px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 210px;
	width: 140px;
	position: relative;
	text-indent: -9999999px;
	top: -40px;

}



.navbar{
	text-align: left;
}

.icon{
    width: 200px;
    float: left;
    height: 100px;
    font-size: 200px;
}

.content h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 0px;
    margin-top: -6%;
    letter-spacing: 2px;
	color: rgb(239, 248, 248);
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
	font-family: 'Times New Roman';
	font-weight: bolder;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.content .par{
    padding-left: -150px;
    padding-bottom: -20px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
	margin-top: -35px;
}

.content{
	width: 1200px;
	width: auto;
	margin: auto;
	color: rgb(228, 253, 1);
	position: relative;
	margin-left: 100px;
	padding-bottom: -100px;
	padding-top: -100px;
}



